body {
    font-family: Arial, sans-serif;
    width: 80%;
    max-width: 900px;
    height: auto;
    margin: 0;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    transition: background-color 0.3s, color 0.3s;
}

body.light-mode {
    background-color: white;
    color: black;
}

body.dark-mode {
    background-color: black;
    color: white;
}

.switch-container {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: background-color 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: transform 0.4s, background-color 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
    background-color: #ffffff;
}

/* Additional customization for better aesthetics */
.slider:active:before {
    width: 28px;
}

/* Automatic light/dark mode based on system preferences */
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
}
@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
}

body.light-mode .player .blank .blank1 .player-level {
    background-color: #f0f0f0;
}

body.dark-mode .player .blank .blank1 .player-level {
    background-color: #333333;
}
.change {
    position: fixed;
    top: 25px;
    right: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.player {
    transition: background-color 0.3s;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0, 0, 0);
    margin: 100;
    padding: 20px;
    text-align: center;
    width: 300px;
}
.blank {
    transition: background-color 0.3s;
    margin: 100;
    padding: 20px;
    text-align: center;
    width: 200px;
}
/* .blank1 {
    transition: background-color 0.3s;
    margin: 100;
    padding: 20px;
    text-align: center;
    width: 200px;
} */
.player img {
    border-radius: 32%;
    height: 150px;
    width: 150px;
    object-fit: cover;
}
.player-name {
    font-size: 1.2em;
    margin: 10px 0;
}
.player-health {
    color: #000000;
}
.player-level {
    transition: background-color 0.3s;
}
.Heal-button {
    background-color: green;
    color: white;
    font-weight: 3000;
}
.Damage-button {
    background-color: red;
    color: black;
    font-weight: 3000;
}