body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
}

.container {
    text-align: center;
    background: #5c5c5cc0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    width: 100%;
    max-width: 500px;
}

input {
    padding: 10px;
    margin: 5px;
    width: calc(100% - 30px); /* Adjusting width to fit mobile */
}

button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

.hidden {
    display: none;
}

#permanentPlayers div {
    margin: 10px 0;
}

.remove-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 0.8em;
}
